<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>679084923122-ao9urrt2mjta2rrhfc74i1k8dir628pa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.679084923122-ao9urrt2mjta2rrhfc74i1k8dir628pa</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>679084923122-736ca2jr4ur72aa6s8tg710a10tnnq94.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCexUTOIN36jzmCEJ4WaRJtlzykrdI8MDw</string>
	<key>GCM_SENDER_ID</key>
	<string>679084923122</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.siddhantmadhur.rideshareapp</string>
	<key>PROJECT_ID</key>
	<string>rideshare-ucsc</string>
	<key>STORAGE_BUCKET</key>
	<string>rideshare-ucsc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:679084923122:ios:198fb7a7b841aca080586b</string>
</dict>
</plist>